
Color Swatches in Hex
.Incert-1-hex { color: #054a91; }
.Incert-2-hex { color: #3e7cb1; }
.Incert-3-hex { color: #fcfcf2; }
.Insert-4-hex { color: #3d011d; }
.Insert-5-hex { color: #d05b25; }
.Insert-6-hex { color: #f6bde8; }

body {
    font-family: 'Poppins', sans-serif;
    /*background-color: #fcfcf2;*/
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

header {
    color: #054a91;
    padding-top: 20px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 20px;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
    justify-content: center;
    display: flex;
}

nav ul li {
    float: left;
    width: 33%;
}

nav ul li a {
    display: block;
    color: #054a91;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #3e7cb1;
    transition: color 0.5s ease;
}

.progress-container {
    position: fixed;
    bottom: 10px;
    z-index: 5;
    width: 100%;
    height: 6px;
    background: #f17300
}

.progress-bar {
    height: 6px;
    background: #054a91;
    width: 0%;
}

footer p {
    color:#054a91;
    font-size: 10px;
    margin: 50px auto;
    padding: 10px;
    text-align: center;
    bottom: 0;
    width: 100%;
  }

p {
    color: #054a91;
    text-align: justify;
    font-size: 14px;
    margin: 60px auto;
    max-width: 900px;
}

a:hover {
    color: #81a4cd;
}

h2 {
    color: #054a91;
    display: flex;
    justify-content: center;
    position: relative;

}


img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.back-button {
    position: absolute;
    left: 60px;
    top: 60px;
    text-decoration: none;
    color: #054a91;
    font-size: 30px;
}

#about-info {
    text-align: justify;
    font-size: 14px;
    margin: 60px auto;
    max-width: 500px;
}
